<script type="text/javascript" src="public/anim/game.js"></script>
<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

<div class="page-header">
<h3>Welcome to My Website</h3>
</div>

<div class="centered" id="anim-canvas">
	
</div>